* {
    padding: 0;
    margin: 0;
}

/* container */
/* .container {
    /* max-width: 1340px; */
/* } 

/* header*/
.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

/* header_innerCard_left */
.header_innerCard_left {
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
}

/* logo_innerCard_left */
.logo_innerCard_left {
    padding: 5px;
}

/* title_txt_innerCard_left */
.title_txt_innerCard_left {
    color: #212B31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

/* header_innerCard_right */

.header_innerCard_right {
    width: 65%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* innerCard_right_ul */
.innerCard_right_ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #72787D;
    font-size: 16px;
}

.innerCard_right_ul li:hover {
    color: #036FC7;
}

/* innerCard_left_btn */
.innerCard_left_btn {
    width: 130px;
    height: 35px;
    background-color: #212B31;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}

.innerCard_left_btn:hover {
    color: #212B31;
    background-color: white;
    box-shadow: 0px 0px 3px black;
}

/* container_inner1 */
.container_inner1 {
    width: 80%;
    height: 780vh;
    margin: auto;
}

/* container_inner1_card1_title_txt */
.container_inner1_card1 {
    width: 80%;
    height: 180px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* container_inner1_card1_title_txt */
.container_inner1_card1_title_txt {
    font-size: 46px;
    text-align: center;
    color: #212B31;
}

/* container_inner1_card1_btn1 */
.container_inner1_card1_btn1 {
    width: 130px;
    height: 45px;
    background-color: #212B31;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.container_inner1_card1_btn1:hover {
    background-color: transparent;
    color: black;
}

/* container_inner1_card1_btn2 */
.container_inner1_card1_btn2 {
    width: 130px;
    height: 45px;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.container_inner1_card1_btn2:hover {
    background-color: #212B31;
    color: white;
}


/*container_inner1_card2  */
.container_inner1_card2 {
    width: 85%;
    height: 480px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container_inner1_card3 {
    width: 85%;
    height: 280px;
    margin: auto;
    display: flex;
    margin-top: 40px;
}

.container_inner1_card3_card1 {
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container_inner1_card3_card2 {
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container_inner1_card3_card3 {
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* title_cards */
.title_cards {
    color: #212B31;
    font-size: 18px;
}

.inner_txt {
    color: #72787D;
    font-size: 18px;
}

/* section3 */
.section3 {
    width: 85%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* section3_title */
.section3_title {
    color: #212B31;
    font-family: serif;
}

/* section3_txt */
.section3_txt {
    width: 85%;
    color: #72787D;
    text-align: center;
    font-weight: 10px;
    font-size: 18px;
}

/* section4 */
.section4 {
    width: 85%;
    height: 80vh;
    margin: auto;
    margin-top: 20px;
}

/* section4_title */
.section4_title {
    width: 85%;
    color: #212B31;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
}

/* section4_cards */
.section4_cards {
    width: 100%;
    display: flex;
    margin-top: 20px;
}


/* sectio4_card_left */
.sectio4_card_left {
    width: 50%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* sectio4_card_right */
.sectio4_card_right {
    width: 50%;
    height: 60vh;
}

/* section4_card_left_title */
.section4_card_left_title {
    color: #212B31;
    font-size: 30px;
    line-height: 40px;
}


/* section4_card_left_txt */
.section4_card_left_txt {
    color: #72787D;
    font-size: 18px;
}

/* section4_card_left_txt_last */
.section4_card_left_txt_last {
    width: 38%;
    background-color: yellow;
}

/* section5 */
.section5 {
    width: 85%;
    margin: auto;
    height: 40vh;
}

.section5_img {
    width: 100%;
}

/* section5 */
.section6 {
    width: 85%;
    height: 35vh;
    margin: auto;
    margin-top: 15px;
}

/* section6_title */
.section6_title {
    margin-top: 15px;
    text-align: center;
}


/* section6_txt */
.section6_txt {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #72787D;
    margin-top: 10px;
    line-height: 25px;
}

/* section7 */
.section7 {
    width: 85%;
    height: 50vh;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

/* section7_left */
.section7_left {
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* section7_left_title */
.section7_left_title {
    color: #212B31;
    font-size: 20px;
}

.section7_left_txt {
    color: #72787D;
    font-size: 18px;
    line-height: 30px;
}

.section7_right {
    width: 50%;
}

/* section10 */
.section10 {
    width: 85%;
    height: 20vh;
    margin: auto;
    margin-top: 10px;
}

/* section10_title */
.section10_title {
    text-align: center;
    font-size: 36px;
    margin: 10px;
}

/* setion10_txt */
.setion10_txt {
    text-align: center;
    font-size: 26px;
    color: #72787D;
}

/* section10_cards */
.section10_cards {
    width: 85%;
    height: 110vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* section10_card1 */
.section10_card1 {
    width: 33%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.section10_card2 {
    width: 33%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.section10_card3 {
    width: 33%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

/* section10_card1_innerCard1 */
.section10_card1_innerCard1 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

.section10_card1_innerCard2 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

.section10_card1_innerCard3 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

/* section10_card2_innerCard1 */

.section10_card2_innerCard1 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

.section10_card2_innerCard2 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

.section10_card2_innerCard3 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}


/* section10_card3_innerCard1 */

.section10_card3_innerCard1 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

.section10_card3_innerCard2 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}

.section10_card3_innerCard3 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: flex-start;
}


/* section10_card1_innerCard1_innercard_title */
.section10_card1_innerCard1_innercard_title {
    color: #212B31;
    font-size: 26px;
    margin: 10px;
}

/* section10_card1_innerCard1_innercard_txt */
.section10_card1_innerCard1_innercard_txt {
    color: #72787D;
    margin: 10px;
}

/* section10_last */
.section10_last {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* section_last_txt1 */
.section_last_txt1 {
    background-color: yellow;
}

/* section_last_txt2 */
.section_last_txt2 {
    color: #72787D;
}



/* section11 */
.section11 {
    width: 85%;
    margin: auto;
    height: 160px;
    margin-top: 20px;
}

/* section11 */
.section11_title {
    text-align: center;
    font-size: 26px;
    margin: 10px;
}

/* section11_title */
.section11_txt {
    width: 80%;
    margin: auto;
    color: #72787D;
    text-align: center;
    font-size: 20px;
}


/* section12 */
.section12 {
    width: 85%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* section12_card1 */
.section12_card1 {
    width: 33%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* section12_img1 */
.section12_img1 {
    width: 100%;
    height: 60px;
}

.section12_card2 {
    width: 33%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section12_card3 {
    width: 33%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* section12_title */
.section12_title {
    font-size: 20px;
    color: #212B31;
}

/* section12_txt */
.section12_txt {
    color: #72787D;
    text-align: center;
    line-height: 23px;

}

/* section13 */
.section13 {
    width: 85%;
    height: 20vh;
    margin: auto;
    margin-top: 40px;
    background-color: #F6F8F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* section13_title */
.section13_title {
    font-size: 18px;
    letter-spacing: 1px;
}

/* section13_btn */
.section13_btn {
    width: 150px;
    height: 40px;
}



/* section14 */
.section14 {
    width: 100%;
    height: 150vh;
    background-color: #212B31;
    display: flex;
    justify-content: end;
    align-items: center;
}



/* section14_container */
.section14_container {
    width: 90%;
    height: 130vh;
    display: flex;
}

.section14_container_left {
    width: 50%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* section14_container_left_title */
.section14_container_left_title {
    font-size: 36px;
    margin: 10px;
}

.section14_container_right {
    width: 50%;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section14_ul */
.section14_ul li {
    margin: 20px;
    font-size: 20px;
}

/* section14_btn1 */
.section14_btn1 {
    width: 130px;
    height: 40px;
    margin-right: 10px;
}

.section14_btn1:hover {
    background-color: #212B31;
    color: white;
    border: none;
}

/* section14_btn2 */
.section14_btn2 {
    width: 130px;
    height: 40px;
    margin-right: 10px;
    background-color: #212B31;
    color: white;
    border: 1px solid black;
}

.section14_btn2:hover {
    background-color: white;
    color: #212B31;
}

/* section15 */
.section15 {
    width: 85%;
    height: 80vh;
    margin: auto;
    display: flex;
}

.section15_left_title {
    font-size: 26px;
    color: #212B31;
    margin: 20px;
}

.section15_left {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

/* section15_left_txt */
.section15_left_txt {
    color: #72787D;
    width: 50%;
    margin: 20px;
}

.img15 {
    width: 70%;
    height: 50vh;
}


/* section16 */
.section16 {
    width: 85%;
    height: 100vh;
    margin: auto;
}

.section16_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section16_txt1 {
    margin: 10px;
}

.section16_txt2 {
    margin: 10px;
}


/* section16_cards */
.section16_cards {
    display: flex;
    justify-content: space-between;
}

/* section16_card_left */
.section16_card_left {
    width: 40%;
    height: 60vh;
}

.section16_card_right {
    width: 40%;
    height: 60vh;
}

/* section16_left_card1 */
.section16_left_card1 {
    display: flex;
}

.section16_left_card2 {
    display: flex;
}

.section16_left_card3 {
    display: flex;
}

.section16_left_card4 {
    display: flex;
}

/* section16_left_txt1 */

.section16_left_txt1 {
    font-size: 16px;
    margin: 10px;
}

/* section16_left_txt2 */
.section16_left_txt2 {
    color: #72787D;
    font-size: 16px;
    margin: 10px;
}



/*  section16_card_right */
.section16_card_right {
    border-radius: 5px;
    background-color: #F6F8F9;
}

/* section16_title */
.section16_title {
    margin: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
}

.group66 {
    margin-top: 50px;
    margin-left: 60px;
}

/* section17 */
.section17 {
    width: 85%;
    height: 70vh;
    margin: auto;
}

.section17_img {
    width: 100%;
    height: 60vh;
    margin: auto;
}


/* section18 */
.section18 {
    width: 75%;
    height: 60vh;
    background-color: #FFD042;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* section18_title */
.section18_title {
    font-size: 56px;
    text-align: center;
}

/* se18_btn1 */
.se18_btn1 {
    width: 150px;
    height: 50px;
    background-color: #212B31;
    color: white;
}

.se18_btn2 {
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
}



/* section19 */
.section19 {
    width: 85%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* section19_title */
.section19_title {
    display: flex;
    align-items: center;
}

.section19_card1 p {
    margin: 10px;
    color: #72787D;
}


.section19_card1 {
    width: 20%;
}

.section19_card2 {
    width: 20%;
}

.section19_card3 {
    width: 20%;

}

.section19_card4 {
    width: 20%;
}


/* s19P */
.s19P {
    margin: 20px;
    font-size: 20px;
    color: #212B31;
}

/* p2 */
.p2 {
    color: #72787D;
    margin: 10px;
}

/* footer */
.footer {
    width: 85%;
    height: 15vh;
    border-top: 1px solid grey;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
font-size: 7px;
color: grey;
}