* {
    padding: 0;
    margin: 0;
}

/* container */
/* .container {
    /* max-width: 1340px; */
/* } 

/* header*/
.header {
    width: 100%;
    height: 70px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

/* header_innerCard_left */
.header_innerCard_left {
    width: 20%;
    height: 70px;
    border: 2px solid blue;
    display: flex;
    align-items: center;
}

/* logo_innerCard_left */
.logo_innerCard_left {
    padding: 5px;
}

/* title_txt_innerCard_left */
.title_txt_innerCard_left {
    color: #212B31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

/* header_innerCard_right */

.header_innerCard_right {
    width: 65%;
    height: 70px;
    border: 2px solid rgb(9, 110, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* innerCard_right_ul */
.innerCard_right_ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #72787D;
    font-size: 16px;
}

.innerCard_right_ul li:hover {
    color: #036FC7;
}

/* innerCard_left_btn */
.innerCard_left_btn {
    width: 130px;
    height: 35px;
    background-color: #212B31;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}

.innerCard_left_btn:hover {
    color: #212B31;
    background-color: white;
    border: 1px solid #212B31;
    box-shadow: 0px 0px 3px black;
}

/* container_inner1 */
.container_inner1 {
    width: 80%;
    height: 950vh;
    border: 1px solid red;
    margin: auto;
}

/* container_inner1_card1_title_txt */
.container_inner1_card1 {
    width: 80%;
    height: 180px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* container_inner1_card1_title_txt */
.container_inner1_card1_title_txt {
    font-size: 46px;
    text-align: center;
    color: #212B31;
}

/* container_inner1_card1_btn1 */
.container_inner1_card1_btn1 {
    width: 130px;
    height: 45px;
    background-color: #212B31;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.container_inner1_card1_btn1:hover {
    background-color: transparent;
    color: black;
    border: 1px solid grey;
}

/* container_inner1_card1_btn2 */
.container_inner1_card1_btn2 {
    width: 130px;
    height: 45px;
    background-color: transparent;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.container_inner1_card1_btn2:hover {
    background-color: #212B31;
    color: white;
}


/*container_inner1_card2  */
.container_inner1_card2 {
    width: 85%;
    height: 480px;
    border: 1px solid red;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container_inner1_card3 {
    width: 85%;
    height: 280px;
    margin: auto;
    border: 1px solid red;
    display: flex;
    margin-top: 40px;
}

.container_inner1_card3_card1 {
    width: 33%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container_inner1_card3_card2 {
    width: 33%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container_inner1_card3_card3 {
    width: 33%;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* title_cards */
.title_cards {
    color: #212B31;
    font-size: 18px;
}

.inner_txt {
    color: #72787D;
    font-size: 18px;
}

/* section3 */
.section3 {
    width: 85%;
    height: 70vh;
    border: 3px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* section3_title */
.section3_title {
    color: #212B31;
    font-family: serif;
}

/* section3_txt */
.section3_txt {
    width: 85%;
    color: #72787D;
    text-align: center;
    font-weight: 10px;
    font-size: 18px;
}

/* section4 */
.section4 {
    width: 85%;
    height: 80vh;
    border: 2px solid red;
    margin: auto;
    margin-top: 20px;
}

/* section4_title */
.section4_title {
    width: 85%;
    color: #212B31;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
}

/* section4_cards */
.section4_cards {
    width: 100%;
    border: 1px solid blue;
    display: flex;
    margin-top: 20px;
}


/* sectio4_card_left */
.sectio4_card_left {
    width: 50%;
    height: 45vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* sectio4_card_right */
.sectio4_card_right {
    width: 50%;
    height: 60vh;
    border: 1px solid rgb(36, 221, 138);
}

/* section4_card_left_title */
.section4_card_left_title {
    color: #212B31;
    font-size: 30px;
    line-height: 40px;
}


/* section4_card_left_txt */
.section4_card_left_txt {
    color: #72787D;
    font-size: 18px;
}

/* section4_card_left_txt_last */
.section4_card_left_txt_last {
    width: 38%;
    background-color: yellow;
}

/* section5 */
.section5 {
    width: 85%;
    margin: auto;
    height: 40vh;
    border: 1px solid red;
}

.section5_img {
    width: 100%;
}

/* section5 */
.section6 {
    width: 85%;
    height: 35vh;
    border: 1px solid red;
    margin: auto;
    margin-top: 15px;
}

/* section6_title */
.section6_title {
    margin-top: 15px;
    text-align: center;
}


/* section6_txt */
.section6_txt {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #72787D;
    margin-top: 10px;
    line-height: 25px;
}

/* section7 */
.section7 {
    width: 85%;
    height: 50vh;
    border: 1px solid red;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

/* section7_left */
.section7_left {
    width: 50%;
    height: 30vh;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;

}

/* section7_left_title */
.section7_left_title {
    color: #212B31;
    font-size: 20px;
}

.section7_left_txt {
    color: #72787D;
    font-size: 18px;
    line-height: 30px;
}

.section7_right {
    width: 50%;
}

/* section10 */
.section10 {
    width: 85%;
    height: 20vh;
    border: 1px solid red;
    margin: auto;
    margin-top: 10px;
}

/* section10_title */
.section10_title {
    text-align: center;
    font-size: 36px;
    margin: 10px;
}

/* setion10_txt */
.setion10_txt {
    text-align: center;
    font-size: 26px;
    color: #72787D;
}

/* section10_cards */
.section10_cards {
    width: 85%;
    height: 110vh;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* section10_card1 */
.section10_card1 {
    width: 33%;
    height: 110vh;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.section10_card2 {
    width: 33%;
    height: 110vh;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.section10_card3 {
    width: 33%;
    height: 110vh;
    border: 2px solid violet;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

/* section10_card1_innerCard1 */
.section10_card1_innerCard1 {
    width: 100%;
    height: 35vh;
    border: 1px solid red;
    display: flex;
    align-items: flex-start;
}

.section10_card1_innerCard2 {
    width: 100%;
    height: 35vh;
    border: 1px solid rgb(16, 129, 53);
    display: flex;
    align-items: flex-start;
}

.section10_card1_innerCard3 {
    width: 100%;
    height: 35vh;
    border: 1px solid rgb(32, 76, 156);
    display: flex;
    align-items: flex-start;
}

/* section10_card2_innerCard1 */

.section10_card2_innerCard1 {
    width: 100%;
    height: 35vh;
    border: 1px solid red;
    display: flex;
    align-items: flex-start;
}

.section10_card2_innerCard2 {
    width: 100%;
    height: 35vh;
    border: 1px solid rgb(16, 129, 53);
    display: flex;
    align-items: flex-start;
}

.section10_card2_innerCard3 {
    width: 100%;
    height: 35vh;
    border: 1px solid rgb(32, 76, 156);
    display: flex;
    align-items: flex-start;
}


/* section10_card3_innerCard1 */

.section10_card3_innerCard1 {
    width: 100%;
    height: 35vh;
    border: 1px solid red;
}

.section10_card3_innerCard2 {
    width: 100%;
    height: 35vh;
    border: 1px solid rgb(16, 129, 53);
}

.section10_card3_innerCard3 {
    width: 100%;
    height: 35vh;
    border: 1px solid rgb(32, 76, 156);
}


/* section10_card1_innerCard1_innercard_title */
.section10_card1_innerCard1_innercard_title {
    color: #212B31;
    font-size: 26px;
    margin: 10px;
}

/* section10_card1_innerCard1_innercard_txt */
.section10_card1_innerCard1_innercard_txt {
    color: #72787D;
    margin: 10px;
}